:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Times New Roman";
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #4285F4;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__navbar-list form {
  margin: 0;
}

.header__navbar-item {
  margin: 0 12px;
  position: relative;
  min-height: 26px;
}

.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}

.header__navbar-item, .header__navbar-item-link {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item, .header__navbar-item-link, .header__navbar-icon {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header__navbar-icon-link {
  color: white;
  text-decoration: none;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 10px;
}

.header__notify {
  position: absolute;
  top: 100%;
  width: 400px;
  left: 0;
  background-color: lightgray;
  border: 1px solid gray;
  transform-origin: top left;
  animation: headerNotifyGrowth ease-in 0.23s;
  display: none;
}

@keyframes headerNotifyGrowth {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.header__notify-header {
  height: 40px;
  background-color: white;

}

.header__notify-header h3 {
  color: #888;
  margin: 0 0 0 12px;
  width: 200px;
  font-size: 1.2rem;
  line-height: 40px;
}

.header__notify-list {
  padding-left: 0;

}

.header__notify-item {
  display: flex;
}

.header__notify-item:hover {
  background-color: #4CAF50;
}

.header__notify-info {
  margin-left: 1.2rem;
}

.header__notify-name {
  display: block;
  font-size: 1.5rem;
  color: black;
  text-decoration: blink;

}

.content {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://cdn.mos.cms.futurecdn.net/3WcZUWAMGTpTqjkZhjof64.jpg");
  background-size: cover;
  background-position: center;
}

.footer {
  font-size: 20px;
  color: black;
  margin-left: 0;
  position: absolute;
  top: 750px;
  left: 500px;
}
