<html>
<head>
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<div class="container">
  <div class="row" style="height: 30px"></div>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form [formGroup]="rsLogin" (ngSubmit)="onSubmit()">
        <div class="form-outline mb-4">
          <input formControlName="email" type="email" id="form2Example1" class="form-control"
                 [ngClass]="rsLogin.controls['email'].invalid ? 'is-invalid':'is-valid'">
          <div class="invalid-feedback">
            <div *ngIf="rsLogin.controls['email'].errors.required && (rsLogin.controls['email'].touched)">
              Please provide a Email
            </div>
            <div *ngIf="rsLogin.controls['email'].errors.pattern && (rsLogin.controls['email'].touched)">
              Email is not right format
            </div>
          </div>
          <label class="form-label" for="form2Example1">Email address</label>
        </div>
        <div class="form-outline mb-4">
          <input  formControlName="password" type="password" id="form2Example2" class="form-control"
                  [ngClass]="rsLogin.controls['password'].invalid ? 'is-invalid':'is-valid'">
          <div class="invalid-feedback">
            <div *ngIf="rsLogin.controls['password'].errors.required && (rsLogin.controls['password'].touched)">
              Password is not blank
            </div>
            <div *ngIf="rsLogin.controls['password'].errors.pattern && (rsLogin.controls['password'].touched)">
              Password must have 6 characters
            </div>
          </div>
          <label class="form-label" for="form2Example2">Password</label>
        </div>
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked/>
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
          </div>

          <div class="col">
            <a href="#!">Forgot password?</a>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
        <div class="text-center">
          <p>Not a member? <a href="#!">Register</a></p>
          <p>or sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
</body>
</html>
