<h1>Update Product</h1>
<form [formGroup]="productForm" (ngSubmit)="updateProduct(id)">
  <table>
    <tr>
      <td>Id Product</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Name Product</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Price Product</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Description Product</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Update</button></td>
    </tr>
  </table>
</form>
