<html>
<head>
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class>
  <div class="row">
    <div class="col-lg-12">
      <header class="header">
        <div class="grid">
          <nav class="header__navbar">
            <ul class="header__navbar-list">
              <li class="header__navbar-item header__navbar-item--separate">
                <img src="https://t3.ftcdn.net/jpg/03/77/46/78/360_F_377467858_XhOlZpOL9j2tiiJP43qFPXZNa8rGyslL.jpg"
                     style="height: 70px;width: 70px;border: solid black 0.2px">
              </li>
              <li class="header__navbar-item header__navbar-item--has-notify"><a href=""
                                                                                 class="header__navbar-item-link">Employee</a>
                <div class="header__notify">
                  <header class="header__notify-header">
                    <h3>Computers list</h3>
                  </header>
                  <ul class="header__notify-list">
                    <li class="header__notify-item">
                      <a href="/employee?action=" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Employee List</span>
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="/employee?action=add" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Add Employee</span>
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="/employee?action=edit" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Edit Employee</span>
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Delete Employee</span>
                        </div>
                      </a>
                    </li>

                  </ul>
                </div>
              </li>
              <li class="header__navbar-item header__navbar-item--has-notify"><a href=""
                                                                                 class="header__navbar-item-link">
                Contract</a>
                <div class="header__notify">
                  <header class="header__notify-header">
                    <h3>Computers list</h3>
                  </header>
                  <ul class="header__notify-list">
                    <li class="header__notify-item">
                      <a href="" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Customer List</span>
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Add Customer</span>
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Edit Customer</span>
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Delete Customer</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="header__navbar-item header__navbar-item--has-notify"><a href=""
                                                                                 class="header__navbar-item-link">Facility</a>
                <div class="header__notify">
                  <header class="header__notify-header">
                    <h3>Accessories list</h3>
                  </header>
                  <ul class="header__notify-list">
                    <li class="header__notify-item">
                      <a href="/facility?nameSearch=Villa" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Villa</span>
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="/facility?nameSearch=House" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">House</span>
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="/facility?nameSearch=Room" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Room</span>
                        </div>
                      </a>
                    </li>

                  </ul>
                </div>
              </li>
              <li class="header__navbar-item header__navbar-item--has-notify"><a href="/customer"
                                                                                 class="header__navbar-item-link">
                Customer</a>

              </li>
            </ul>
            <ul class="header__navbar-list" style="padding-right: 120px">
              <li>
                <form class="d-flex">
                  <input style="width: 200px;height: 40px;font-size: 15px;border: solid black 0.2px"
                         class="form-control me-2" type="search"
                         placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-primary"
                          style="color: white;background-color: blueviolet;width: 70px;font-size: 15px;border: solid black 0.2px"
                          type="submit">Search
                  </button>
                </form>
              </li>
            </ul>
            <li class="header__navbar-item header__navbar-item--has-notifyy">
              <a href="" class="header__navbar-item-link">
                 <i class="fa-solid fa-cart-shopping" style="font-size: 25px"></i>
              </a>
              <div class="cart">
                <header class="header__notify-header "style="height: 60px;border-color: blue">
                  <div style="font-family: 'Times New Roman';font-size: 1.2rem;color: black">Your cart is empty.</div>
                  <div style="font-family: 'Times New Roman';font-size: 1.2rem;color: black">Keep Shopping</div>
                </header>
              </div>
            </li>
            <li style="list-style: none">
              <button class="btn btn-outline-primary"
                      style="color: black;background-color: white;width: 80px;font-size: 15px;"
                      type="submit">Log in
              </button>
            </li>
            <li style="list-style: none">
              <button class="btn btn-outline-primary"
                      style="color: white;background-color: black;width: 80px;font-size: 15px;"
                      type="submit">Sing up
              </button>
            </li>
          </nav>
        </div>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <img
        src="../../../assets/nen.jpg"
        style="width: 100%;display: block">
    </div>
  </div>
  <div class="row" style="height: 50px"></div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10" style="font-family: 'Times New Roman';font-size: 2.2rem">A broad selection of courses</div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10" style="font-family: 'Times New Roman';font-size: 1.6rem">Choose from 204,000 online video
      courses with new additions published every month
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10" style="height: 600px;border: solid gray 0.2px">
      <div class="row" style="padding-left: 20px;margin-top: 20px;font-size: 1.4rem">Expand your career opportunities
        with Python
      </div>
      <div class="row" style="padding-left: 20px;font-size: 1.1rem">Take one of Udemy’s range of Python courses and
        learn
        how to code using this incredibly useful language. Its
      </div>
      <div class="row" style="padding-left: 20px;font-size: 1.1rem">simple syntax and readability makes Python perfect
        for Flask, Django, data science, and machine learning. You’ll
      </div>
      <div class="row" style="padding-left: 20px;font-size: 1.1rem">learn how to build everything from games to sites to
        apps. Choose from a range of courses that will appeal to
      </div>
      <div class="row" style="padding-left: 20px;font-size: 1.1rem;height: 15px"></div>
      <div class="row" style="padding-left: 20px;font-size: 1.2rem">
        <button class="btn btn-outline-primary"
                style="color: black;background-color: white;width: 80px;font-size: 15px;width: 120px"
                type="submit">Explore Python
        </button>
      </div>
      <div class="row" style="padding-left: 30px;font-size: 1.1rem;height: 15px"></div>
      <div class="row" style="padding-left: 20px">
        <div class="col-lg-4">
          <div class="card " style="width: 18rem">
            <img class="card-img-top"
                 src="https://furamavietnam.com/wp-content/uploads/2018/03/Vietnam_Danang_Furama_Lagoon-Superior-twin-bed-F-370x239.jpg"
                 alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Lear Python: The Complete Python Programming Course</h5>
              <p class="card-text">Avinash Jain, The Codex</p>
              <p class="card-text">đ299,000</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                 src="https://furamavietnam.com/wp-content/uploads/2018/03/Vietnam_Danang_Furama_Lagoon-Superior-twin-bed-F-370x239.jpg"
                 alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Lear Python: The Complete Python Programming Course</h5>
              <p class="card-text">Avinash Jain, The Codex</p>
              <p class="card-text">đ299,000</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                 src="https://furamavietnam.com/wp-content/uploads/2018/03/Vietnam_Danang_Furama_Lagoon-Superior-twin-bed-F-370x239.jpg"
                 alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Lear Python: The Complete Python Programming Course</h5>
              <p class="card-text">Avinash Jain, The Codex</p>
              <p class="card-text">đ299,000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row" style="height: 40px"></div>
  <div class="row" style="height: 105px;background-color:#00FFFF">
    <div class="col-lg-1"></div>
    <div class="col-lg-3" style="padding-top: 25px">
      <div class="row">
        <div class="col-lg-2"><i class="fa-brands fa-square-youtube" style="font-size: 40px;padding-top: 5px"></i></div>
        <div class="col-lg-10">
          <div class="row">Learn in-demand skills with over</div>
          <div class="row">204,000 video courses</div>
        </div>
      </div>
    </div>
    <div class="col-lg-4" style="padding-top: 25px;padding-left: 30px">
      <div class="row">
        <div class="col-lg-2"><i class="fa-solid fa-graduation-cap" style="font-size: 40px;padding-top: 5px"></i></div>
        <div class="col-lg-10"> <div class="row">Choose courses taught by real-world</div>
          <div class="row">experts</div></div>
      </div>
    </div>
    <div class="col-lg-4" style="padding-top: 25px">
      <div class="row">
        <div class="col-lg-2"><i class="fa-solid fa-biohazard"style="font-size: 40px;padding-top: 5px"></i></div>
        <div class="col-lg-10">  <div class="row">Learn at your own pace, with lifetime</div>
          <div class="row">access on mobile and desktop</div></div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row" style="height: 40px"></div>
  <div class="row" style="padding-left: 30px;font-size: 27px">Top categories</div>
  <div class="row" style="padding-left: 30px">
    <div class="col-lg-3">
      <div class="row"><img src="https://s.udemycdn.com/home/top-categories/lohp-category-design-v2.jpg"
                            style="width: 90%;height: 90%"></div>
      <div class="row" style="font-size: 20px;padding-left: 10px">Design</div>
    </div>
    <div class="col-lg-3">
      <div class="row"><img src="https://s.udemycdn.com/home/top-categories/lohp-category-development-v2.jpg"
                            style="width: 90%;height: 90%"></div>
      <div class="row" style="font-size: 20px;padding-left: 10px">Development</div>
    </div>
    <div class="col-lg-3">
      <div class="row"><img src="https://s.udemycdn.com/home/top-categories/lohp-category-marketing-v2.jpg"
                            style="width: 90%;height: 90%" alt="">
        <div class="row" style="font-size: 20px;padding-left: 10px">Marketing</div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="row">
        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software-v2.jpg"
             style="width: 90%;height: 90%" alt="">
      </div>
      <div class="row" style="font-size: 20px;padding-left: 10px">IT and Software</div>
    </div>
  </div>
  <div class="row" style="height: 10px"></div>
  <div class="row" style="padding-left: 30px">
    <div class="col-lg-3">
      <div class="row"><img src="https://s.udemycdn.com/home/top-categories/lohp-category-personal-development-v2.jpg"
                            style="width: 90%;height: 90%">
      </div>
      <div class="row" style="font-size: 20px;padding-left: 10px">Design</div>
    </div>
    <div class="col-lg-3">
      <div class="row"><img src="https://s.udemycdn.com/home/top-categories/lohp-category-business-v2.jpg"
                            style="width: 90%;height: 90%"></div>
      <div class="row" style="font-size: 20px;padding-left: 10px">Development</div>
    </div>
    <div class="col-lg-3">
      <div class="row"><img src="https://s.udemycdn.com/home/top-categories/lohp-category-photography-v2.jpg"
                            style="width: 90%;height: 90%" alt="">
        <div class="row" style="font-size: 20px;padding-left: 10px">Marketing</div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="row">
        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-music-v2.jpg" style="width: 90%;height: 90%"
             alt="">
      </div>
      <div class="row" style="font-size: 20px;margin-left: 10px">IT and Software</div>
    </div>
  </div>
  <div class="row" style="height: 30px"></div>
  <div class="row" style="height: 200px;background-color:#00FFFF">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4" style="font-size: 22px">Trusted by over 12,500 great teams</div>
      <div class="col-lg-4"></div>
    </div>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6" style="font-size: 17px">Leading companies use the same courses to help employees keep their
        skills fresh.
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="row" style="padding-left: 50px">
      <div class="col-lg-2"><img src="https://s.udemycdn.com/partner-logos/v4/nasdaq-dark.svg" alt=""></div>
      <div class="col-lg-2"><img src="https://s.udemycdn.com/partner-logos/v4/volkswagen-dark.svg" alt=""></div>
      <div class="col-lg-2"><img src="https://s.udemycdn.com/partner-logos/v4/box-dark.svg" alt=""></div>
      <div class="col-lg-2"><img src="https://s.udemycdn.com/partner-logos/v4/netapp-dark.svg" alt=""></div>
      <div class="col-lg-2"><img src="https://s.udemycdn.com/partner-logos/v4/eventbrite-dark.svg" alt=""></div>
      <div class="col-lg-2"><img src="https://s.udemycdn.com/partner-logos/v4/tcs-dark.svg" alt=""></div>
    </div>
  </div>
  <div class="row" style="height: 300px;background-color: #222222">
    <div class="col-lg-3" style="color: white;padding-left: 50px;padding-top: 15px">
      <div class="row">Udemy Business</div>
      <div class="row">Teach on Udemy</div>
      <div class="row">Get the app</div>
      <div class="row">About us</div>
      <div class="row">Contact us</div>
    </div>
    <div class="col-lg-3" style="color: white;padding-top: 15px">
      <div class="row">Careers</div>
      <div class="row">Blog</div>
      <div class="row">Help and Support</div>
      <div class="row">Affiliate</div>
      <div class="row">Investors</div>
    </div>
    <div class="col-lg-3" style="color: white;padding-top: 15px">
      <div class="row">Terms</div>
      <div class="row">Privacy Policy</div>
      <div class="row">Cookie settings</div>
      <div class="row">Sitemap</div>
      <div class="row">Aceescibility statement</div>
    </div>
    <div class="col-lg-2" style="padding-top: 15px">
      <button class="btn btn-outline-primary"
              style="color: white;width: 90px;font-size: 15px;width: 110px"
              type="submit">English
      </button>
    </div>
    <div class="row" style="padding-left: 40px">
      <div class="col-lg-9"><img src="https://t3.ftcdn.net/jpg/03/77/46/78/360_F_377467858_XhOlZpOL9j2tiiJP43qFPXZNa8rGyslL.jpg"
                                   style="height: 75px;width: 85px;border: solid black 1px"></div>
      <div class="col-lg-3"><p style="color: white">@LeHuuTruong._.KaKaShi</p></div>

    </div>
  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
</body>
</html>

