<div class>
  <div class="row">
    <div class="col-lg-12">
      <header class="header">
        <div class="grid">
          <nav class="header__navbar">
            <ul class="header__navbar-list">
              <li class="header__navbar-item header__navbar-item--separate">
                <img src="https://t3.ftcdn.net/jpg/03/77/46/78/360_F_377467858_XhOlZpOL9j2tiiJP43qFPXZNa8rGyslL.jpg"
                     style="height: 70px;width: 70px;border: solid black 0.2px">
              </li>
              <li class="header__navbar-item header__navbar-item--has-notify"><a href=""
                                                                                 class="header__navbar-item-link">Employee</a>
                <div class="header__notify">
                  <header class="header__notify-header">
                    <h3>Computers list</h3>
                  </header>
                  <ul class="header__notify-list">
                    <li class="header__notify-item">
                      <a href="/employee?action=" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Employee List</span>
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="/employee?action=add" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Add Employee</span>
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="/employee?action=edit" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Edit Employee</span>
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Delete Employee</span>
                        </div>
                      </a>
                    </li>

                  </ul>
                </div>
              </li>
              <li class="header__navbar-item header__navbar-item--has-notify"><a href=""
                                                                                 class="header__navbar-item-link">
                Contract</a>
                <div class="header__notify">
                  <header class="header__notify-header">
                    <h3>Computers list</h3>
                  </header>
                  <ul class="header__notify-list">
                    <li class="header__notify-item">
                      <a href="" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Customer List</span>
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Add Customer</span>
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Edit Customer</span>
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Delete Customer</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="header__navbar-item header__navbar-item--has-notify"><a href=""
                                                                                 class="header__navbar-item-link">Facility</a>
                <div class="header__notify">
                  <header class="header__notify-header">
                    <h3>Accessories list</h3>
                  </header>
                  <ul class="header__notify-list">
                    <li class="header__notify-item">
                      <a href="/facility?nameSearch=Villa" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Villa</span>
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="/facility?nameSearch=House" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">House</span>
                        </div>
                      </a>
                    </li>
                    <li class="header__notify-item">
                      <a href="/facility?nameSearch=Room" class="header__notify-link">
                        <div class="header__notify-info"><span
                          class="header__notify-name">Room</span>
                        </div>
                      </a>
                    </li>

                  </ul>
                </div>
              </li>
              <li class="header__navbar-item header__navbar-item--has-notify"><a href="/customer"
                                                                                 class="header__navbar-item-link">
                Customer</a>

              </li>
            </ul>
            <ul class="header__navbar-list" style="padding-right: 120px">
              <li>
                <form class="d-flex">
                  <input style="width: 200px;height: 40px;font-size: 15px;border: solid black 0.2px"
                         class="form-control me-2" type="search"
                         placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-primary"
                          style="color: white;background-color: blueviolet;width: 70px;font-size: 15px;border: solid black 0.2px"
                          type="submit">Search
                  </button>
                </form>
              </li>
            </ul>
            <li class="header__navbar-item header__navbar-item--has-notifyy">
              <a href="" class="header__navbar-item-link">
                <i class="fa-solid fa-cart-shopping" style="font-size: 25px"></i>
              </a>
              <div class="cart">
                <header class="header__notify-header "style="height: 60px;border-color: blue">
                  <div style="font-family: 'Times New Roman';font-size: 1.2rem;color: black">Your cart is empty.</div>
                  <div style="font-family: 'Times New Roman';font-size: 1.2rem;color: black">Keep Shopping</div>
                </header>
              </div>
            </li>
            <li style="list-style: none">
              <button class="btn btn-outline-primary"
                      style="color: black;background-color: white;width: 80px;font-size: 15px;"
                      type="submit">Log in
              </button>
            </li>
            <li style="list-style: none">
              <button class="btn btn-outline-primary"
                      style="color: white;background-color: black;width: 80px;font-size: 15px;"
                      type="submit">Sing up
              </button>
            </li>
          </nav>
        </div>
      </header>
    </div>
  </div>
