<h1>Create Product</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Id Product:</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Name Product:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Price Product</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Category</td>
      <select formControlName="category" >
        <option *ngFor="let item of categoryList" [ngValue]="item" >{{item.name}}</option>
      </select>
    </tr>
    <tr>
      <td>Description</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Create</button></td>
    </tr>
  </table>
</form>
