<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<table>-->
<!--  <tr>-->
<!--    <td>Calculator</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td colspan="2"><label><input type="text" [(ngModel)]="firstNumber"></label></td>-->
<!--    <td colspan="2"><label><input type="text" [(ngModel)]="secondNumber"></label></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>-->
<!--      <button type="button" (click)="addition()">addition</button>-->

<!--    <td>-->
<!--      <button type="button" (click)="subtraction()">subtraction</button>-->
<!--    </td>-->
<!--    <td>-->
<!--      <button type="button" (click)="multiplication()">multiplication</button>-->
<!--    </td>-->
<!--    <td>-->
<!--      <button type="button" (click)="division()">division</button>-->
<!--    </td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td><p>Result: {{result}}</p></td>-->
<!--  </tr>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->
<!--<app-home-case-study></app-home-case-study>-->
<!--<app-article></app-article>-->
<!--<app-list-facility></app-list-facility>-->
<!--<app-edit-facility></app-edit-facility>-->
<!--<app-rating-bar></app-rating-bar>-->
<!--<app-countdown-timer></app-countdown-timer>-->
<!--<app-list-customer></app-list-customer>-->
<!--<app-student-form></app-student-form>-->
<!--<app-form-log-in></app-form-log-in>-->
<app-form-register></app-form-register>
