<div class="container mt-3">
  <h2>Product List</h2>
  <p>The .table-striped class adds zebra-stripes to a table:</p>
  <div>
<!--    <div class="mt-2">-->
<!--      <input type="text" [(ngModel)]="nameSearch" placeholder="Search name" style="margin-right: 10px">-->
<!--      <select [(ngModel)]="classroomSearch" style="margin-right: 10px;height: 30px;width: 70px">-->
<!--        <option value="" selected>Select</option>-->
<!--        <option *ngFor="let item of classList" value="{{item.name}}">{{item.name}}</option>-->
<!--      </select>-->
<!--      <input type="submit" value="Search" (click)="search()">-->
<!--    </div>-->
<!--    <div>-->
<!--      <input type="number" name="number1" [(ngModel)]="number1" placeholder="Search name" style="margin-right: 10px">-->
<!--      <input type="number" name="number2" [(ngModel)]="number2" placeholder="Search name" style="margin-right: 10px">-->
<!--      <input type="submit" value="Search" (click)="searchPoint()">-->
<!--    </div>-->
<!--    <div class="div">-->
<!--      <input type="date" name="number1" [(ngModel)]="date1" placeholder="Search name" style="margin-right: 10px">-->
<!--      <input type="date" name="number2" [(ngModel)]="date2" placeholder="Search name" style="margin-right: 10px">-->
<!--      <input type="submit" value="Search" (click)="searchDateOfBirth()">-->
<!--    </div>-->

    <div>
      <div class="mt-2">
        <input type="text" [(ngModel)]="nameSearch" placeholder="Search name" style="margin-right: 10px">
        <select [(ngModel)]="classroomSearch" style="margin-right: 10px;height: 30px;width: 70px">
          <option value="" selected>Select</option>
          <option *ngFor="let item of classList" value="{{item.name}}">{{item.name}}</option>
        </select>
        <input type="date" name="number1" [(ngModel)]="date1" placeholder="Search name" style="margin-right: 10px">
        <input type="date" name="number2" [(ngModel)]="date2" placeholder="Search name" style="margin-right: 10px">
        <input type="submit" value="Search" (click)="searchDateOfBirth1()">
      </div>
    </div>
  </div>
  <table class="table table-striped table-success">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Point</th>
      <th>Day Of Birth</th>
      <th>Class</th>
      <th>Action</th>
      <th>Action</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let teacher of teacher |  paginate: { itemsPerPage: 3, currentPage: p }; index as i ;">
      <td>{{i + 1}}</td>
      <td>{{teacher.name}}</td>
      <td>{{teacher.point}}</td>
      <td>{{teacher.dayOfBirth|date:'dd/MM/yyyy'}}</td>
      <td>{{teacher.class.name}}</td>
      <td><a [routerLink]="['/teacher/edit',teacher.id]" type="button" class="btn btn-primary">Edit</a></td>
      <td>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete"
                (click)="teacherDelete(teacher.id)">Delete
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDetail"
                (click)="detailTeacher(teacher.id)">Detail
        </button>
      </td>
      <!--      <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete" (click)="teacherView(teacher.id)">View</button></td>-->
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

  <div *ngIf="deleteTeacher" class="modal fade" id="modalDelete" tabindex="-1"
       aria-labelledby="exampleModalLabel-delete"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel-delete">Delete Teacher</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure delete <strong>{{deleteTeacher.name}}</strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
          <button class="btn btn-danger" data-bs-dismiss="modal" type="submit"
                  (click)="deleteTeacherById(deleteTeacher.id)">Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="detail" class="modal fade" id="modalDetail" tabindex="-1"
       aria-labelledby="exampleModalLabel-delete"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1-delete">Delete Teacher</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div>
          <div> Name:{{detail.name}}</div>
          <div> Point:{{detail.point}}</div>
          <div> Class:{{detail.class.name}}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>


